@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root{
  font-size: 62.5%;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  /* position: absolute; */
  border: 1px solid gray;
  min-height: 50vh;
  max-width: 30vw;
  overflow: hidden;
}

.folder-span, .file-span{
  /* position: relative; */
  /* left: 2em; */
  /* margin-top: 2em; */
  cursor: pointer;
  /* padding: 2rem; */
  /* z-index: inherit; */
  /* margin: 2rem; */
  /* border: 1px solid gray; */
  display: inline;
  white-space:nowrap;
}

@media (max-width: 600px) {
  .App {
    font-size: 1rem;
    min-width: 40vw;
  }
}